run = "node server.js"
modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
NODE_ENV = "test"

[userenv.production]

[[ports]]
localPort = 300
externalPort = 3001

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 43821
externalPort = 3002

[[ports]]
localPort = 46231
externalPort = 3000
