run = "node server.js"
modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["lsof"]

[userenv]

[userenv.shared]
NODE_ENV = "test"

[userenv.production]

[[ports]]
localPort = 300
externalPort = 3001

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 35395
externalPort = 6000

[[ports]]
localPort = 37993
externalPort = 8008

[[ports]]
localPort = 38737
externalPort = 5173

[[ports]]
localPort = 39129
externalPort = 8000

[[ports]]
localPort = 41117
externalPort = 8099

[[ports]]
localPort = 43061
externalPort = 6800

[[ports]]
localPort = 43595
externalPort = 8080

[[ports]]
localPort = 43821
externalPort = 3002

[[ports]]
localPort = 45351
externalPort = 4200

[[ports]]
localPort = 45869
externalPort = 3003

[[ports]]
localPort = 46231
externalPort = 3000

[[ports]]
localPort = 46319
externalPort = 8081

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Test Runner"

[[workflows.workflow]]
name = "Test Runner"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && npm test"

[workflows.workflow.metadata]
outputType = "console"
